// Variables Partials
//
// All of your variables should go in this file.

$max-width:   1280px;


// Font faces, stacks and sizes.

$base-font-size:   16px;
$base-line-height: 1.5;

// The following font family declarations are based on the Microsoft core web
// fonts which are common fonts available on most computer systems. The DejaVu
// and Nimbus Sans fonts are commonly available on Linux systems where the MS
// fonts are less common. Tahoma and Helvetica are also widely available.
//
// A user's web browser will look at the comma-separated list and will
// attempt to use each font in turn until it finds one that is available
// on the user's computer. The final "generic" font (sans-serif, serif or
// monospace) hints at what type of font to use if the web browser doesn't
// find any of the fonts in the list.

// First, let's create some font stacks.
$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times:           Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif;

$verdana:         Verdana, Tahoma, "DejaVu Sans", sans-serif;
$tahoma:          Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica:       "Open Sans", Helvetica, Arial, "Nimbus Sans L", sans-serif;
$arial:           Arial, Helvetica, "Nimbus Sans L", sans-serif;

// For an explanation of why "sans-serif" is at the end of this list, see
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
$courier:         "Source Code Pro", "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
$condensedbold:   "Open Sans Condensed", $helvetica;

// Now create some variables for the font stacks we want to use on this site.
$base-font-family: $helvetica; // The font family set on the html element.
$font-body:        $helvetica;
$font-monospace:   $courier;
$form-font-family: $helvetica;

$font-body-weight: normal;

//
// Colors, etc.
//

$white          : #FFF;
$black          : #000;



// Standard colors: for standard 4K and other brand colors.
// Note: these are just for reference, and some brands have multiple colors.
$social-colors:(
  facebook    : #3B5998,
  twitter     : #33CCFF,
  youtube     : #FF3333,
  pinterest   : #990000,
  skype       : #12A5F4,
  flickr      : #FE0883,
  foursquare  : #8FD400,
  instagram   : #4E433C,
  linkedin    : #4875B4,
  tumblr      : #2B4964,
  vimeo       : #86B32D,
  google      : #D6492C,
  fk          : #66B360,
);


// Base color variables.
$link           : #00C;
$visited        : #609;
$selection-bg   : $black;
$selection      : $white;

// The amount lists, blockquotes and comments are indented.
$indent-amount: 2em;


// Add Singularity responsive layout settings.
//
// Singularity allows the creation of responsive grids within your site's layout
// Go to the singularity github wiki for full implementation, and how to
// integrate it with breakpoint as well.
//
// @see https://github.com/Team-Sass/Singularity/wiki

@include sgs-change('mobile first',       true);
@include sgs-change('include border box', false);
@include sgs-change('include clearfix',   false);
@include sgs-change('direction',          'both');

@include add-grid(12);

// Define our gutters.
@include add-gutter(1/2);

// Add breakpoint settings.

$breakpoint-no-queries:         false !default;
$breakpoint-no-query-fallbacks: true  !default;
$breakpoint-to-ems:             false;

// We might want to remove this in favor of our own mixin later.
$breakpoints: add-breakpoint('larger buttons', 420px);
$breakpoints: add-breakpoint('medium warnings', 380px);
$breakpoints: add-breakpoint('large warnings', 620px);
